<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atividades</title>
</head>

<body>

<h1>Atividades</h1>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

<div th:if="${!atividades.empty}">
    <table>
        <tr>
            <th align="left">Nome</th>
            <th align="right">Prioridade</th>
            <th align="center">Excluir</th>
        </tr>
        <tr th:each="atividade : ${atividades}">
            <td align="left" th:text="${atividade.nome}"> </td>
            <td align="right" th:text="${atividade.prioridade}"> </td>
            <td align="center">  <a href="#" th:href="|@{/excluir-atividade?codigo=}${atividade.codigo}|">X</a> </td>
        </tr>
    </table>
</div>
<div th:unless="${!atividades.empty}">
    <p> Nenhuma atividade cadastrada. </p>
</div>
<br>

<a href="#" th:href="@{/nova-atividade}">Nova Atividade</a>

</body>
</html>