<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atividades</title>
</head>
<body>

<h1>Nova Atividade</h1>

<form th:action="@{/nova-atividade}" th:object="${atividade}" method="post">
    <input type="text" name="nome"     th:field="*{nome}"     th:placeholder="Nome"/> <br/>
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span>
    <br/>

    <input type="number" name="prioridade"     th:field="*{prioridade}"     th:placeholder="Prioridade"/> <br/>
    <span th:if="${#fields.hasErrors('prioridade')}" th:errors="*{prioridade}">Error</span>
    <br/>

    <button type="submit">Criar nova atividade</button>
</form>

<br>

<a th:href="@{/atividades}">Voltar</a>

</body>
</html>